<main class="container main-area px-4 py-1" role="main">
  <div class="row shadow p-3 mb-4 bg-white">
    <!--<div class="col-12">-->
    <!--<div class="container" style="width:400px">-->
    <!--<div style="color: blue; margin-bottom: 20px">-->
    <div class="col-12 justify-content-center">
      <h1>{{title}}</h1>
    </div>
    <!--<div class="my-5"></div>-->
    <div class="col-12 justify-content-center">
      <h3>{{description}}</h3>
    </div>
    <div class="col-12 justify-content-center">
      <form-upload></form-upload>
    </div>

    <div class="col-12">
      <br/>
      <br/>

      <list-upload></list-upload>
    </div>
  </div>
</main>
